.banner{
    background-image:url("../../../img/banners/moveis-personalizados-sob-medida-trancados-trancarte.jpg");
}

.limiter{
    padding:0 1em;
}

/*session with last requests*/
.h4{
    color:var(--brown);
    margin-bottom:1em;
    font-weight:600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.last-requests{
    background-color: var(--secondary);
    min-height:50vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:1 0;
}

.addBtn{
    width:20%;
    max-width:350px;
}

